.ticket {
    font-family: 'Courier New', Courier, monospace;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-left: 6px dashed #28c112;
    padding: 1rem;
}

.ticket-item {
    background: #f9f9f9;
    padding: 0.5rem;
    border-radius: 8px;
}

.ticket-item hr {
    border-top: 1px #ccc;
}

.ticket .btn-danger {
    background: #d9534f;
    border: none;
}

.ticket .btn-danger:hover {
    background: #c9302c;
}
