{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="text-center bg-black border border-success shadow-lg rounded p-5" style="max-width: 600px;">
            <h1 class="text-success mb-4">Error 403 - Acceso Denegado</h1>
            <img src="{% static 'img/cancel.png' %}" alt="Acceso Denegado" class="img-fluid mb-4" style="width: 100px;">
            <p class="fs-4 text-light mb-3">¡Oops! No tienes permiso para acceder a esta página.</p>
            <p class="fs-5 text-white">Si crees que esto es un error, contacta con el administrador.</p>
            <a href="{% url 'home_page' %}" class="btn btn-light mt-4">Volver al Inicio</a>
        </div>
    </div>
{% endblock %}

