{% extends "base.html" %}
{% load static %}

{% block content %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/style_camarero.css' %}">
    {% endblock %}

    <div class="sidebar-container">
        {% include "sidebar.html" %}
        <div class="content">
            <h2 style="color: white" class="mb-4">Gestión de Mesas</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="mesa-card">
                        <h5>Mesa 1</h5>
                        <p class="estado text-success">Libre</p>
                        <button class="btn btn-ver w-100">Asignar Cliente</button>
                    </div>
                </div>
                
                <div class="col">
                    <div class="mesa-card">
                        <h5>Mesa 2</h5>
                        <p class="estado text-warning">Esperando pedido</p>
                        <button class="btn btn-ver w-100">Ver Pedido</button>
                    </div>
                </div>
                
                <div class="col">
                    <div class="mesa-card">
                        <h5>Mesa 3</h5>
                        <p class="estado text-danger">Ocupada</p>
                        <button class="btn btn-ver w-100">Ver Pedido</button>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
{% endblock %}